body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
}

header{
    background-color: #8792AE;
    color: white;
    padding: 20px;
}

nav{
    background-color: #AEBAD2;
    padding: 10px;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

main{
    margin-top: 40px;
    color:#8792AE;
    font-family: monospace;
}

#shape{
    width: 150px;
    height: 150px;
    background-color: limegreen;
    margin: auto;
}

.buttons{
    margin-top: 40px;
}

button{
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #BFCAE2;
    color: aliceblue;
}

footer{
    background-color: #8792AE;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}